<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kulartist.tekhubandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tehublogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tehublogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.kulartist.tekhub.WaitingListAdapter"></activity>
        <activity android:name="com.kulartist.tekhub.WaitingList" />
        <activity android:name="com.kulartist.tekhubadmin.ResolveIssue"></activity>
        <activity android:name="com.kulartist.tekhubadmin.UpdateItems" />
        <activity android:name="com.kulartist.tekhubadmin.AddItems" />
        <activity android:name="com.kulartist.tekhubadmin.StudentList" />
        <activity android:name="com.kulartist.tekhubadmin.ItemList" />
        <activity android:name="com.kulartist.tekhubadmin.Dashboard" />
        <activity android:name="com.kulartist.tekhub.AboutUs" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@anim/fab_close" />

        <activity android:name="com.kulartist.tekhub.Item" />
        <activity android:name="com.kulartist.tekhub.Order" />
        <activity android:name="com.kulartist.tekhub.OrderList" />
        <activity android:name="com.kulartist.tekhub.OrderDetails" />
        <activity android:name="com.kulartist.tekhub.Feedback" />
        <activity
            android:name="com.kulartist.tekhub.ItemList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.kulartist.tekhub.Student"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.kulartist.tekhub.BottomMenu" />
        <activity android:name=".ResetPassword" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>